
<footer class="bg-dark" >
  <div class="row">
   <div class="col-lg-8 col-md-6 col-sm-4"></div>
   <div class="text-white text-center p-3 col-lg-3 col-md-5 col-sm-7">
    <div ><h3>Made By Ankit Punia</h3></div>
     <div ><h4>9518633989</h4></div>
    <div ><h4>Zirakpur</h4></div>
    <div ><h4>(1710991108)</h4></div>
   </div>
  </div>
</footer>
