<app-nav-bar></app-nav-bar>
<style>
  .carousel-inner img {
    width: 90%;
    height: 500px;
  }
</style>
<div class="container-fluid" style="text-align: center;padding: 50px">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/images/laptop.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h4>A Whole new range of Laptops</h4>
      </div>
    </div>
    <div class="carousel-item ">
      <img src="./assets/images/headphones.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h4>At an exclusive price range</h4>
      </div>
    </div>
    <div class="carousel-item ">
      <img src="./assets/images/shoe4.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h5>Varity of products to choose from</h5>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
<div  class = "row">
  <div class="flex-column col-lg-6 col-md-8 col-sm-11">
  <div style="margin: 50px" class="col-lg-5 col-md-7 col-sm-10">
    <img routerLink="/productlist/electronics" style="height: 350px;margin-left: 100px" src="./assets/images/headphones6.jpg" >
    <div>
      <h1 style="font-weight: bold;padding-top: 20px ;border-top: solid 1px black ;font-family: -apple-system;text-align: center;margin-left: 130px;margin-top: 30px">ELECTRONICS</h1>
    </div>
  </div>
    <div style="margin: 50px;margin-top: 150px" class="col-lg-5 col-md-7 col-sm-10">
      <img routerLink="/productlist/laptops" style="height: 350px;margin-left: 100px" src="./assets/images/laptop2.jpg" >
      <hr>
      <div>
        <h1 style="font-weight: bold;padding-top: 20px ;border-top: solid 1px black ;font-family: -apple-system;text-align: center;margin-left: 130px;margin-top: 30px">LAPTOPS</h1>
      </div>
    </div>
    <div style="margin: 50px;margin-top: 150px" class="col-lg-5 col-md-7 col-sm-10">
      <img routerLink="/productlist/mens" style="height: 350px;margin-left: 100px" src="./assets/images/mens.jpg" >
      <div>
        <h1 style="font-weight: bold;padding-top: 20px ;border-top: solid 1px black ;font-family: -apple-system;text-align: center;margin-left: 130px;margin-top: 30px">MEN'S FASHION</h1>
      </div>
    </div>
  </div>
  <div class="row col-lg-6 col-md-7 col-sm-11">
  <div style="margin: 50px;margin-top: 200px" class="col-lg-5 col-sm-10">
    <img routerLink="/productlist/shoes" style="height: 450px;margin-left: 100px" src="./assets/images/shoe5.jpg" >
    <div>
      <h1 style="font-weight: bold;padding-top: 20px ;border-top: solid 1px black ;font-family: -apple-system;text-align: center;margin-left: 130px;margin-top: 30px">SHOES</h1>
    </div>
  </div>
    <div style="margin: 50px;margin-top: 0px" class="col-lg-5 col-md-7 col-sm-10">
      <img routerLink="/productlist/womens" style="height: 450px;margin-left: 100px" src="./assets/images/womens5.jpg" >
      <div>
        <h1 style="font-weight: bold;padding-top: 20px ;border-top: solid 1px black ;font-family: -apple-system;text-align: center;margin-left: 130px;margin-top: 30px">WOMEN'S FASHION</h1>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
