<app-nav-bar></app-nav-bar>
<div class="row container-fluid" style="margin-top: 100px">
  <div class="col-lg-5 col-md-7 col-sm-10" style="height: 500px;padding: 100px;padding-top: 0px">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="{{products.imgsr}}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title" style="margin-top: 10px;margin-left: 10px">{{products.name}}</h4>
        <button routerLink="/cart" class="btn btn-primary btn-lg ml-3" style="margin-top: 25px" (click)="addThisToCart(this.id)">Add to cart</button>
        <button routerLink="/productlist/{{products.category}}" class="btn btn-primary btn-lg" style="margin-left: 50px;margin-top: 25px">Go-Back</button>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-7 col-sm-10 " style="border-left: solid 2.5px grey;padding: 50px;padding-top: 80px">
    <div class="card" style="width:800px">
      <div class="card-body">
        <h1 class="card-title" style="font-family: -apple-system;font-weight: bolder;">{{products.name}}</h1>
        <h1 style="margin-top: 30px">Special price<br>{{products.price}}</h1>
        <h4>Specification</h4>
        <h6>Category : {{products.category}}</h6>
        <h6>Colour : {{products.color}}</h6>
        <p class="card-text">{{products.description}}</p>
      </div>
    </div>
  </div>
</div>

