<div style="background-image: url(./assets/images/cloths.jpg);height:800px;padding-top: 80px ;text-align: center ;background-repeat: no-repeat;background-size: 100% 100%;align-content: center;">
  <div  class="col-lg-4 col-md-6 col-sm-10" style="background-color: aliceblue;display: inline-block;opacity: 0.8;height: 550px;justify-content: center;text-align: center">
    <h1 style="padding-top: 100px;font-weight: bold;">
      LOGIN
    </h1>
    <input type="text" [(ngModel)]="username" class="form-control" style="width: 250px;margin-top: 50px;margin-left: 100px"  placeholder="Email Id" name="email">
    <input type="password" [(ngModel)]="password" style="width: 250px;margin-top: 50px;margin-left: 100px" class="form-control" placeholder="Password">
    <input  (click)="checkLogin()" type="submit" style="width: 100px;margin-top: 50px;background-color: seagreen;color:aliceblue" name="Login" value="Login" placeholder="Login">
    <h5 style="padding-top: 50px;">Dont have an ID?<a href="#" routerLink="/register">Register</a></h5>
  </div>
</div>
