<app-nav-bar (childEvent)="this.products=$event"></app-nav-bar>
<div class = "row">
  <div class="col-lg-3 col-md-6 col-sm-10" style="text-align: center;padding-top: 60px">
    <h1>Filters</h1>
    <div class = col-8 style="border: solid 0.6px black; border-radius: 1rem;margin: 50px;height: 250px;background-color:aliceblue">
      <h3 style="text-align: center;margin-top: 25px;margin-bottom: 25px;">Price Range</h3>
      <input type = "radio" name="filter" min="0" max="1000" (change)="getProdByPrice(0,1000)" style="margin: 8px">0-1000<br>
      <input type = "radio" name="filter" min="1000" max="5000" (change)="getProdByPrice(1000,5000)" style="margin: 8px">1000-5000<br>
      <input type = "radio" name="filter" min="5000" max="15000" (change)="getProdByPrice(5000,15000)" style="margin: 8px">5000-15000<br>
      <input type = "radio" name="filter" min="15000" max="50000" (change)="getProdByPrice(15000,50000)" style="margin: 8px">15000-50000<br>
    </div>
  </div>
  <div class="col-9" style="display: flex;flex-wrap: wrap;padding: 20px;" >
    <div *ngFor="let s of products" class="col-lg-4 col-md-6 col-sm-10" style="margin-top: 30px;" >
      <div>
        <img style="height: 150px;" src="{{s.imgsr}}" >
      </div>
      <hr>
      <h5 style="height: 50px">{{s.name}}</h5>
      <button routerLink="/cart" class="btn btn-secondary" (click)="addThisToCart(s.id)">Add to cart</button>
      <button (click)="getProd(s.id)" style="margin-left: 5px;" class="btn btn-secondary">View Details</button>
      <div style="margin-top: 10px">
      <button  class="btn btn-secondary" style="margin-left: 0px;" (click)="editProduct(s.id)" *ngIf="loginService.isUserLoggedIn() && this.role=='Admin'" ><i class="fa p-1">&#xf044;&nbsp;</i>Edit Item</button>
      <button  class="btn btn-secondary" style="margin-left: 2px;" (click)="removeProduct(s.id)" *ngIf="loginService.isUserLoggedIn() && this.role=='Admin'" ><i class="fa p-1">&#xf1f8;&nbsp;</i>Remove</button><br><br>
      </div>
    </div>
  </div>
</div>
