<app-nav-bar (childEvent)="this.product=$event"></app-nav-bar>
<div class="container-fluid" id="grad" style="padding-bottom: 100px;"><div class="bg-white signupbox">
 <h2 class="font1 p-5 text-center">Add New Product</h2>
    <div class="container">
      <form action="add-product" class="was-validated">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Enter Product Name" name="name" [(ngModel)]="product.name" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
         <div class="text">
          <input type="" class="form-control" id="image" placeholder="Enter Image Path" name="image" [(ngModel)]="product.imgsr" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="price" placeholder="Enter Price" name="price" [(ngModel)]="product.price" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="details" placeholder="Enter Details" name="details" [(ngModel)]="product.description" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
         <div class="form-group">
          <select [(ngModel)]="product.category" class="form-control custom-select" name="category" required>
            <option >mens</option>
            <option >womens</option>
            <option >electronics</option>
            <option >laptops</option>
            <option >shoes</option>

          </select>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <button type="submit" class="btn btn-info mt-3 mb-3 w-100" (click)="addProduct()">Add Product</button>
      </form>
    </div>
</div>
</div>
<app-footer></app-footer>
