<app-nav-bar></app-nav-bar>
<div class="container bg-light pt-3">
  <div class="row">
    <div class="col-sm-8">
      <img src="{{product.imgsr}}" class="img-thumbnail m-5 p-5" style="height:500px; width: 600px;">
    </div>
    <div class="col-sm-4">
      <h2 class="pt-2 font1">Edit Product Details</h2><hr>
      <form>
        <div class="form-group">
          <div>
            <label>Edit Name :</label>
          </div>
          <input type="text" class="form-control" id="name" placeholder="{{product.name}}" name="name" value="{{product.name}}" [(ngModel)]="product.name">
        </div>
        <div class="form-group">
          <div>
            <label>Edit Price :</label>
          </div>
          <input type="email" class="form-control" id="price" placeholder="{{product.price}}" value="{{product.price}}" name="price" [(ngModel)]="product.price">
        </div>
        <div class="form-group">
          <div>
            <label>Edit Product Details :</label>
          </div>
          <input type="text" class="form-control" id="details" placeholder="{{product.description}}" name="mob" value="{{product.description}}" [(ngModel)]="product.description">
        </div>
        <div>
          <label>Edit Product's Category :</label>
        </div>
        <div class="form-group">
          <select [(ngModel)]="product.category" class="form-control custom-select" name="category">
            <option>laptops</option>
            <option>mens</option>
            <option>electronics</option>
            <option>womens</option>
            <option>shoes</option>
          </select>
        </div>
        <button type="submit" class="btn btn-info mt-5 mb-5 w-100" (click)="editProduct()">Edit Details</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
