<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width:30%" class="text-center">Product</th>
      <th style="width:20%" class="text-center">Price</th>
      <th style="width:10%" class="text-center">Quantity</th>
      <th style="width:25%" class="text-center">Subtotal</th>
      <th style="width:15%" class="text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of prod">
      <td>
        <div class="row">
          <div class="col-sm-2 hidden-xs">
            <img src="{{p.product.imgsr}}" (click)="navTOProductDetail(p.product.id)" height="80px" width="80px" alt="image" class="img-responsive dataTableImg"/></div>
          <div class="pt-2"style="margin-left: 90px" (click)="navTOProductDetail(p.product.id)" >{{p.product.name}}</div>
        </div>
      </td>
      <td  class="text-center pt-4"> &#8377; {{p.product.price}}</td>
      <td>
        <button (click)="removeOne(p.product.id)">-</button>{{p.quantity}}<button (click)="addOne(p.product.id)">+</button>
      </td>
      <td class="text-center pt-4">&#8377;{{(p.quantity)*(p.product.price)}}</td>
      <td><button class=" btn btn-danger mt-2" (click)="removeProduct(p.product.id)">remove</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="hidden-xs text-center"><strong>&#8377;{{total}}</strong></td>
    </tr>
    </tfoot>
  </table>
  <div class="text-align">
    <button class="btn btn-secondary " style="margin-left: 35%" routerLink="/home" >Continue Shopping</button>
    <button class="btn btn-secondary ml-4" (click)="checkOut()">proceed to checkout</button>
  </div>
</div>
