<nav class="navbar navbar-expand-md  navbar-dark" style="background-color: black">
  <a style="font-family: SansSerif;font-size: xx-large;" class="navbar-brand" href="#">SHOPPING-BEE</a>
  <ul class="nav navbar-nav float-sm-right m-auto " style="margin-left: 50px">
    <form class="form-inline" style="margin-left: 350px">
      <input class="form-control mr-sm-2" size="50" type="text" placeholder="Search by product name or category" [(ngModel)]="searchedItem" [ngModelOptions]="{ standalone:true }">
      <button class="btn btn-success" type="submit" (click)="searchOnClick()"><i class="fa">&#xf002;</i>&nbsp;Search</button>
    </form>
  </ul>
  <li class="nav-item" *ngIf="loginService.isUserLoggedIn() && this.role=='Admin'">
    <a class="nav-link" href="addproduct">Add Product</a>
  </li>
  <li class="nav-item dropdown" *ngIf="loginService.isUserLoggedIn()">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa p-1">&#xf007;&nbsp;</i>Your Account</a>
    <div class="dropdown-menu">
      <a class="nav-link dropdown-item text-dark" href="profile"><i class="fa p-1">&#xf044;&nbsp;</i>Edit Profile</a>
      <a class="nav-link dropdown-item text-dark" href="cart"><i class="fa p-1">&#xf044;&nbsp;</i>MyCart</a>
      <a class="nav-link dropdown-item text-dark" href="orderhistory"><i class="fa p-1">&#xf044;&nbsp;</i>Order-History</a>
      <a class="nav-link dropdown-item text-dark" href="login"><i class="fa p-1">&#xf03b;&nbsp;</i>Logout</a>
    </div>
  </li>
</nav>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark row" style="text-align: center">
  <ul class="navbar-nav ">
    <li class="nav-item col-3">
      <a class="nav-link " routerLink="/home">HOME</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link " routerLink="/allproduct">All PRODUCTS</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link"  routerLink="/productlist/mens">MEN'S FASHION</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link"  routerLink="/productlist/womens">WOMEN'S FASHION</a>
    </li>
    <li class="nav-item col-2">
      <a class="nav-link"  routerLink="/productlist/electronics">ELECTRONICS</a>
    </li>
    <li class="nav-item col-2">
      <a class="nav-link"  routerLink="/productlist/shoes">SHOES</a>
    </li>
    <li class="nav-item col-2">
      <a class="nav-link"  routerLink="/productlist/laptops">LAPTOPS</a>
    </li>





  </ul>
</nav>

