<app-nav-bar></app-nav-bar>
<div class="container">

  <h1 class="font1 my-3 text-center">Order History</h1>
  <table class="table table-hover text-center text-black-50">
    <thead>
    <tr>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Product Quantity</th>
      <th>Product Price</th>
      <th>Date</th>
      <th>See Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let history of OrderHistory">
      <td><img src="{{history.image}}" height="120px" width="130px"></td>
      <td>{{history.name}}</td>
      <td>{{history.quantity}}</td>
      <td>{{history.price}}</td>
      <td>{{history.date}}</td>
      <td><button class="btn btn-success" (click)="checkDetails(history.productId)">See Details</button></td>
    </tr>
    </tbody>
  </table>
</div>
