<div style="background-image: url(./assets/images/books.jpg);height:800px;padding-top: 50px;background-repeat: no-repeat;text-align: center;background-size: 100% 100%;align-content: center;">
  <div  class="col-lg-4 col-md-6 col-sm-10" style="background-color: aliceblue;opacity: 0.8;height: 550px;display: inline-block;text-align: center">
    <h1 style="padding-top: 50px;font-weight: bold;text-align: center">
      REGISTER
    </h1>
    <input type="text" [(ngModel)]="user.name" class="form-control" style="width: 250px;margin-top: 30px;margin-left: 100px"  placeholder="Full name" name="Full name">
    <input type="text" [(ngModel)]="user.username"  style="width: 250px;margin-top: 14px;margin-left: 100px" class="form-control" placeholder="Enter a user name">
    <input type="text" [(ngModel)]="user.phonenumber" style="width: 250px;margin-top: 14px;margin-left: 100px" class="form-control" placeholder="Phone number">
    <input type="email" [(ngModel)]="user.email"  style="width: 250px;margin-top: 14px;margin-left: 100px" class="form-control" placeholder="E-mail ID">
      <input type="password" [(ngModel)]="user.password" style="width: 250px;margin-left: 100px;margin-top: 14px" class="form-control" placeholder="Enter A Password">
      <input type="password" style="width: 250px;margin-left: 100px;margin-top: 14px" class="form-control" placeholder="Confirm Password">
      <input  type="submit" (click)="addUsers(user)" style="width: 100px;margin-top: 20px;background-color: seagreen;color:aliceblue" name="submit" value="submit" placeholder="submit">
    <h5 style="padding-top: 10px;">Already have an Account?<a href="#" routerLink="/login"> Login</a></h5>
  </div>
</div>
